* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.5em;
}

a {
    text-decoration: none;
}

/**************** DESKTOP VERSION ****************/

/**************** header ****************/

.header__nav-list {
    list-style: none;
    margin: 0;
    background: #005FBF;
    display: flex;
    justify-content: center;
}

.header__nav-item-link {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
    background-color: #005FBF;
}

.header__nav-item-link:hover {
    background: #666666;
}

/**************** end header ****************/

/**************** main ****************/

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-content__section {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-content__section-title {
    width: 100%;
}

.recipe {
    position: relative;
    width: 30%;
    margin: 1.5%;
    padding: 1.5rem;
    border: .2rem solid #ddd;
    background-color: #f1f1f1;
    border-radius: .6rem;
    text-align: center;
}

.recipe--explanation {
    width: 90%;
    padding: 3rem;
    border-radius: 1.5rem;
}

.recipe__title {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.recipe__date {
    font-style: italic;
}

.recipe__description {
    padding: .8rem;
}

.recipe__list {
    list-style: disclosure-closed;
    padding-inline-start: unset;
}

.recipe__figure-image {
    width: 100%;
    object-fit: cover;
    border-radius: .6rem;
}

.recipe__figure-image--explanation {
    object-fit: cover;
    border-radius: 2rem;
    margin: 1rem;
}

.recipe__button {
    width: 80%;
    height: 3rem;
    margin-bottom: .6rem;
    font-size: 1.2rem;
    background-color: #005FBF;
    color: #fff;
    border: .3rem solid rgb(57, 132, 207);
    border-radius: .8rem;
    cursor: pointer;
}

.recipe__button:hover {
    color: #005FBF;
    background-color: #fff;
}

.main-content__aside {
    width: 25%;
}

.main-content__navigation {
    width: 100%;
}

.main-content__navigation-list {
    display: flex;
    justify-content: center;
}

.main-content__navigation-item {
    cursor: pointer;
    padding: 1rem;
    border: 0.2rem solid #ddd;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    margin: 0.4rem;
    background-color: #ccc;
}

.main-content__navigation-item:hover {
    border: 0.2rem solid #ccc;
    background-color: #ddd;
}

.main-content__navigation-link {
    color: #fff;
    position: relative;
    top: -3px;
}

/**************** end main ****************/

/**************** aside ****************/

.main-content__aside-link {
    color: #005FBF;
}

/**************** end aside ****************/

/**************** footer ****************/

.footer__social-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer__social-item {
    margin: .5rem;
}

.footer__social-image {
    max-width: 3rem;
}

/**************** end footer ****************/

/**************** end DESKTOP VERSION ****************/

/**************** TABLET VERSION ****************/

@media only screen and (max-width: 768px) {
    .main-content__section, .main-content__aside {
        width: 100%;
    }
    .recipe {
        width: 46%;
        margin: 2%;
    }
    .recipe--explanation {
        width: 95%;
        padding: 1rem;
    }
    .recipe__title {
        margin-top: 0;
        margin-bottom: 1rem;
    }
    .recipe__figure-image--explanation {
        border-radius: 1rem;
        margin: 0;
    }
}

/**************** end TABLET VERSION ****************/

/**************** TABLET VERSION ****************/

@media only screen and (max-width: 1000px) {
    .main-content__section, .main-content__aside {
        width: 100%;
    }
    .recipe {
        width: 46%;
        margin: 2%;
    }
    .recipe--explanation {
        width: 95%;
        padding: 1rem;
    }
    .recipe__title {
        margin-top: 0;
        margin-bottom: 1rem;
    }
    .recipe__figure-image--explanation {
        border-radius: 1rem;
        margin: 0;
        width: 80%;
    }
}

/**************** end TABLET VERSION ****************/

@media only screen and (max-width: 420px) {

    .header__nav-list{
        display: block;
    }

    .recipe {
        width: 96%;
        margin: 2%;
    }

}