* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

a {
    text-decoration: none;
}

a:visited {
    color: #005FBF;
}

/**************** header ****************/

.header__nav-list {
    list-style: none;
    margin: 0;
    background: #005FBF;
    display: flex;
    justify-content: center;
}

.header__nav-item-link {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
    background-color: #005FBF;
}

.header__nav-item-link:hover {
    background: #666666;
}

/**************** end header ****************/

/**************** main ****************/

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-content__section {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-content__section-title {
    width: 100%;
}

.recipe {
    position: relative;
    width: 30%;
    margin: 1.5%;
    padding: 10px;
    border: 3px solid #ddd;
    background-color: #f1f1f1;
    border-radius: 5px;
    text-align: center;
}

.recipe--explanation {
    width: 90%;
    padding: 40px;
    border-radius: 20px;
}

.recipe__title {
    margin-top: 12px;
    margin-bottom: 12px;
}

.recipe__date {
    font-style: italic;
}

.recipe__description {
    padding: 20px;
}

.recipe__figure-image {
    width: 260px;
    height: 260px;
    object-fit: cover;
    border-radius: 5px;
}

.recipe__figure-image--explanation {
    width: 600px;
    height: 600px;
    object-fit: cover;
    border-radius: 15px;
}

.recipe__button {
    width: 80%;
    height: 3rem;
    margin-bottom: 12px;
    font-size: 1.2rem;
    background-color: #005FBF;
    color: #fff;
    border: 3px solid rgb(57, 132, 207);
    border-radius: 10px;
    cursor: pointer;
}

.recipe__button:hover {
    color: #005FBF;
    background-color: #fff;
}

.main-content__aside {
    width: 25%;
}

.main-content__navigation {
    width: 100%;
}

.main-content__navigation-list {
    display: flex;
    justify-content: center;
}

.main-content__navigation-item {
    cursor: pointer;
    padding: 10px;
    border: 3px solid #ddd;
    width: 50px;
    border-radius: 25px;
    margin: 6px;
    background-color: #ccc;
    height: 50px;
}

.main-content__navigation-item:hover {
    border: 3px solid #ccc;
    background-color: #ddd;
}

/**************** end main ****************/

/**************** footer ****************/

.footer__social-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer__social-item {
    margin: 10px;
}

.footer__social-image {
    max-width: 50px;
}

/**************** end footer ****************/