@import config

.form
  text-align: center

  &__input
    font-size: 1.2rem
    width: 11rem
    border: $formInputBorder
    border-radius: 7px
    color: $formInputColor
    padding: 0.2rem 1rem

  &__input:hover,
  &__button:hover
    outline: 0

  &__button
    font-size: 1.2rem
    border-radius: 7px
    border: $formButtonBorder
    background-color: $formButtonBackgroundColor
    color: $formButtonColor
    cursor: pointer

@media only screen and (min-width:768px)
  .form
    padding-bottom: 1rem

    &__input
      width: 20%