.view
  margin-top: 7rem
  height: 100%

  &__feedback
    display: flex
    justify-content: center
    align-items: center
    margin-top: 2rem

  &__register
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-top: 0

    &--title
      color: $titleColor

  &__login
    margin-top: 0
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

    &--title
      font-size: 3rem
      color: $viewTitle
      margin-bottom: 8rem
      letter-spacing: 0.1rem
      text-align: center

@media only screen and (min-width: $screen-sm-min)
  .view__single
    font-size: 1.5rem