:root {
  --main-color: #515adf;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Calibri";
}

.container {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.results .item, .nav__search, .nav .menu, .register__or, .register, .login__or, .login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  flex-direction: column;
  flex-grow: 1;
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Philips_PM5544.svg/1200px-Philips_PM5544.svg.png") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}
.login__form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.login__logo {
  position: relative;
}
.login__input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #c6bdbd;
  font-size: 1rem;
}
.login .email {
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Ic_mail_outline_black_48px.svg/1024px-Ic_mail_outline_black_48px.svg.png) no-repeat scroll 7px 7px;
  background-size: 20px 20px;
  background-color: #fff;
  padding-left: 30px;
}
.login .password {
  background: url(https://storage.needpix.com/rsynced_images/padlock-2873246_1280.png) no-repeat scroll 7px 7px;
  background-size: 20px 20px;
  background-color: #fff;
  padding-left: 30px;
}
.login__btn {
  background-color: #fff;
  padding: 0.5rem;
  box-shadow: 0px 0px 5px 1px #515adf;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}
.login .btn-main {
  background-color: var(--main-color);
  color: #fff;
}
.login__or {
  text-align: center;
  margin: 5px auto;
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.register {
  flex-direction: column;
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Philips_PM5544.svg/1200px-Philips_PM5544.svg.png") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}
.register__form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.register__logo {
  position: relative;
}
.register__img {
  width: 150px;
  z-index: -10;
}
.register__title {
  position: absolute;
  top: 5rem;
  left: 25px;
}
.register__input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #c6bdbd;
  font-size: 1rem;
}
.register .name, .register .surname {
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/User_font_awesome.svg/1024px-User_font_awesome.svg.png) no-repeat scroll 7px 7px;
  background-size: 20px 20px;
  background-color: #fff;
  padding-left: 30px;
}
.register .email {
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Ic_mail_outline_black_48px.svg/1024px-Ic_mail_outline_black_48px.svg.png) no-repeat scroll 7px 7px;
  background-size: 20px 20px;
  background-color: #fff;
  padding-left: 30px;
}
.register .password {
  background: url(https://storage.needpix.com/rsynced_images/padlock-2873246_1280.png) no-repeat scroll 7px 7px;
  background-size: 20px 20px;
  background-color: #fff;
  padding-left: 30px;
}
.register__btn {
  background-color: #fff;
  padding: 0.5rem;
  box-shadow: 0px 0px 5px 1px #515adf;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}
.register .btn-main {
  background-color: var(--main-color);
  color: #fff;
}
.register__or {
  text-align: center;
  margin: 5px auto;
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.nav {
  display: grid;
  grid-template-areas: "name search option";
  grid-template-columns: 1fr 1fr 60px;
  grid-gap: 0.5rem;
  background-color: var(--main-color);
  padding: 1rem;
  color: #fff;
}
.nav__logo {
  grid-area: name;
}
.nav__logo .company-name {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
}
.nav .menu {
  grid-area: option;
  list-style: none;
  padding: 0;
}
.nav .menu__item {
  cursor: pointer;
}
.nav .menu__item .menu_sub {
  display: none;
  z-index: 10;
  position: absolute;
  list-style: none;
  padding: 0;
  background-color: var(--main-color);
  visibility: hidden;
  opacity: 0;
  min-width: 8rem;
  transition: all 0.5 ease;
  right: 20px;
  border: 1px solid #fff;
}
.nav .menu__item .menu_sub__item {
  padding: 5px;
  border-bottom: 1px solid #fff;
}
.nav .menu__item:hover > .menu_sub {
  display: block;
  opacity: 1;
  visibility: visible;
}

.nav__search {
  grid-area: search;
}
.nav__search .input__search {
  border: 0;
  padding: 0.25rem;
  border-radius: 5px;
  background: url(https://www.pinclipart.com/picdir/middle/485-4851736_free-png-search-icon-search-icon-free-download.png) no-repeat scroll 7px 7px;
  background-size: 14px 14px;
  background-color: #fff;
  padding-left: 30px;
}

.results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
  grid-gap: 0.75rem;
  list-style: none;
  padding: 1rem;
}

.results .item {
  flex-direction: column;
  background-color: #FFDD5C;
  padding: 0.75rem;
  border-radius: 5px;
}
.results .item__poster {
  width: 100px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #000000;
}
.results .item__title {
  font-weight: bold;
  text-align: center;
}
.results .item__year {
  text-align: center;
  font-size: 0.75rem;
}
.results .item:hover {
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=index.css.map */
