@import url('https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap');

body{
	margin:0;
    background-color: #efefef;
	align-content: center;
	font-family: Roboto;
}

header {
	font-size: 20px;

}

nav {
	float: right;
}


article{
	display: grid;
	grid-template-columns: 1fr 0,5in [start] 1.25in 5in 1.25in [end] 0,5in 1fr;
	height: auto;
	padding: 0.5in 0;
	

}

article * {grid-column: start/end; }

.size-1 {grid-column: 4/5; }
.size-2 {grid-column: 3/6; }
.size-3 {grid-column: 2/7; }
.size-4 {grid-column: 1/8; }
img.size-1, img.size-2, img.size-3 {width: 100%; };

footer{	
	color: white;	
	margin-left: auto ;    
	margin-right: auto ;	
	font-size:16px;	
	min-height: 50px;	
	padding:20px;	
	background-color: black;	
}

h2, h3, h4, p { margin-bottom: 2.4rem; }

h1{font: 2rem/1.2 "Roboto"; color: rgb(255, 255, 255)}
h2{font: 2rem/1.2 "Roboto"; color: rgb(255, 208, 0)}
time{font: 0.9rem/1.2 "Roboto" ; color:#154011}
h3{font: 1.2rem/1.2 "Roboto"; color:rgb(74, 83, 74)}
p{font: 1.0rem/1.5 "Roboto";}

a {box-shadow: inset 0 -0.15em #2A8022;}

.blog-head{
	height: 300px;
	background: url(https://static1.visitestonia.com/images/2890339/Estonian_forest_reasons_to_visit_Sven_Zacek.jpg);
	display:flex;
	flex-direction: column;
	font-size: 20;
	
}

#mmenu {
	margin-top: 105px;
	float:left;
	background-color: #dde7d179;
	width: auto;

}


#title {
	margin-top: 10px;
	margin-left: 50px;	
}

a:hover, a:active, a:focus, a:visited {
	color:rgb(3, 32, 0);
  }