extends ../view/index

include ../feedback/index
include ../results/index

block body
    section.view.favorites._hide
        h1.favorites__title Favorites
        span.favorites__icon 🧡
        a.favorites__back(href=backPath) Go back

        if results
            +results(results, favPath, detailPath)