.container {
    box-sizing: content-box;
    margin: 0px auto;
    background-color: rgb(207, 207, 236);
    width: 90vw;
    height: 90vw;
    border: .1rem solid rgb(182, 212, 240);
    border-radius: 1rem;
};