@import hidden
@import flex-column
@import flex-row


.duck
    @extend %flex-column
    flex-direction: column
    width: 70vw

    &__img
        width: 70vw

    &__description
        font-size: 1.5em
    
.off
    display: none

