@import hidden
@import flex-column
@import flex-row


.duck
    @extend %flex-column
    width: 70vw

    &__title
        font-size: 1.6em

    &__img
        width: 70vw

    &__description
        font-size: 1.5em

    &__button
        width: 20%
        height: 5vh
        background-color: black
        color: #ffffff
    
.off
    display: none

