@import flex-column


.header
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    height: 20vh

    &__logo
        width: 50%
        height: 90%

    &__title
        width: 50%
        text-align: center


