
body {
    padding: 20px;
    margin: 20px 60px;
    font-size: 18px;
    background-color: #22afc7;
}
.h1 {
    font-family: calibry;
    width: 96%;
    height: 100px;
    margin: 20px;
}

.h2 {
    font-family: calibry;
    width: 70%;
    height: 100px;
    float: right;
    margin: 20px;
}

.meta {
    font-family: calibry;
    width: 96%;
    height: 600px;
    margin: 20px;

}
