.duck-list
    display: flex
    flex-direction: column
    border: 4px dotted yellow
    padding: 0
    &__duck
        display: flex
        border: 4px dotted blue

    &__link
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        margin-bottom: 3%
      
    &__title
        color: white
        background-color: LightSteelBlue 
        border: 2px dotted black
        border-radius: 15px
        font-size: 20px
        padding: 0 2%
    &__image
        width: 90%
        border-radius: 50px
    &__description
        padding: 0 2%
        
    &__price
        color: black
        font-weight: bold
        border-bottom: 2px solid black
        align-self: center
        font-size: 20px
    &__button
        border-radius: 20px
        background: MintCream 
        border: 2px solid black
        font-size: 20px 
        font-weight: bold
        align-self: center

.duck-list--modif
    display: flex
    flex-direction: column
    padding: 0
    justify-content: center
    align-items: center
    text-align: center
    margin-bottom: 3%
    