body {
  font-family: "Mansalva", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: Lavender;
  margin-bottom: 20%;
}

li {
  list-style: none;
}

.header {
  display: flex;
  background-image: url(https://www.desktopbackground.org/t/2015/12/10/1055168_rubber-ducks-illustration-vector-art-graphics_1024x1325_h.jpg);
  background-size: contain;
  width: 100%;
  justify-items: center;
  justify-content: space-evenly;
}
.header__title {
  color: white;
  align-self: center;
  font-size: 2.5em;
}
.header__image {
  width: 20%;
}

@media (min-width: 768px) {
  .header {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .header__title {
    font-size: 5em;
  }
}
.search {
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
}
.search__form {
  display: flex;
}
.search__input {
  border-radius: 20px;
}
.search__button {
  border-radius: 20px;
  background: MintCream;
  border: 2px solid black;
  font-size: 1.25em;
  font-weight: bold;
}

.duck-list {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.duck-list__duck {
  display: flex;
  border-radius: 20px;
}
.duck-list__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}
.duck-list__title {
  color: white;
  background-color: LightSteelBlue;
  border: 2px dotted black;
  border-radius: 0.9em;
  font-size: 1.2em;
  padding: 0 2%;
}
.duck-list__image {
  width: 90%;
  border-radius: 60px;
}
.duck-list__description {
  padding: 0 2%;
}
.duck-list__price {
  color: black;
  font-weight: bold;
  border-bottom: 2px solid black;
  align-self: center;
  font-size: 1.2em;
}
.duck-list__button {
  border-radius: 20px;
  background: MintCream;
  border: 2px solid black;
  font-size: 1.2em;
  font-weight: bold;
  align-self: center;
}

.duck-list--modif {
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 3%;
}

@media (min-width: 768px) {
  .ducks {
    display: flex;
    justify-content: center;
  }

  .duck-list {
    flex-flow: row wrap;
    justify-content: space-around;
    max-width: 90%;
  }
  .duck-list__image {
    max-width: 19em;
    background-size: cover;
  }
}
@media (min-width: 1024px) {
  .duck-list__image {
    max-width: 13em;
    background-size: cover;
  }
  .duck-list__title {
    font-size: 0.9em;
    text-align: center;
  }
  .duck-list__image--modif {
    max-width: 25em;
  }
  .duck-list__description {
    font-size: 1.2em;
  }
  .duck-list__title--modif {
    font-size: 1.8em;
  }
  .duck-list__price--modif {
    font-size: 1.8em;
  }
  .duck-list__button {
    font-size: 1.8em;
  }
}
.footer {
  display: flex;
  align-self: flex-end;
  background-image: url(https://www.desktopbackground.org/t/2015/12/10/1055168_rubber-ducks-illustration-vector-art-graphics_1024x1325_h.jpg);
  background-size: contain;
  width: 100%;
  justify-items: center;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
}
.footer__title {
  color: white;
  align-self: center;
  font-size: 1.25em;
}

@media (min-width: 768px) {
  .footer {
    width: 100%;
  }
  .footer__title {
    align-self: center;
    font-size: 1.8em;
  }
}

/*# sourceMappingURL=style.css.map */
