*
    box-sizing: border-box
    margin: 0

body
    font-family: 'Roboto Condensed', sans-serif
    
.hidden
    display: none


@import ./styles/flex-center
@import ./styles/button
@import ./components/search
@import ./components/results
@import ./components/result-item
@import ./components/detail
@import ./components/feedback
@import ./components/register
@import ./components/login