.body-landing {
  min-width: 1000px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 2rem;
}
.title {
  text-align: center;
  margin: 0 4rem 4rem 4rem;
}
.main-menu {
  display: inline-flex;
}
.main-menu > li {
  margin: 1rem;
}
.categories-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid lightgrey;
}
.categories-container > li {
  margin: 2rem;
}
.articles-row {
  display: flex;
  margin: 0 8rem;
  justify-content: center;
}
.preview-article {
  text-align: center;
  margin: 2rem;
  width: 270px;
}
.footer-nav-text {
  display: flex;
  justify-content: space-evenly;
  margin-top: 4rem;
  border-top: 1px solid lightgrey;
}
.footer-social-media > ul {
  padding-inline-start: 0;
}
.email-copyr-container {
  display: flex;
  flex-direction: column;
}


/*article styles*/
.body-article {
  min-width: 1590px;
}
.article {
  width: 67%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  margin: 0 auto;
}
.article-text-container, .article > p {
  font-size: 1.3rem;
}
.main-content-article {
  display: flex;
}
video {
  display: flex;
  margin: 0 auto;
  height: 25rem;
  width: 42rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
figure {
  margin-inline-end: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}