* {
    box-sizing: border-box;
  }
 
  body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    display: flex;
    justify-content: space-between;
    
  }

  header {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 2%;
    height: 100%;
  }

  .header-list{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    background: skyblue;
    margin: 0;
    align-items: center;
    font-weight: bold;
    
}

.header-names{
    text-decoration: none;
    color: black;
    
  }
  
  .header-names:hover{
    color: black;
    background: rgba(9, 199, 206, 0.5);
  
  }


  