html {
    background: linear-gradient(90deg, rgb(241, 199, 121), rgb(216, 83, 50));
}

h1 {
    color: rgb(179, 2, 2);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main {
    width: 50%;
}

img {
    width: 35%;
    height: 25%;;
}
