li {
  list-style: none;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 2rem;
  text-align: center;
}
h2 {
  text-align: center;
}
form {
  text-align: center;
}
.title {
  text-align: center;
  margin: 0 4rem 4rem 4rem;
}
.main-menu {
  display: inline-flex;
}
.main-menu > li {
  margin: 1rem;
}
.categories-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid lightgrey;
}
.categories-container > li {
  margin: 2rem;
}
.articles-row, .main-image {
  display: flex;
  margin: 0 8rem;
  justify-content: center;
}
.article {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 2rem;
  justify-content: space-between;
}
article {
  text-align: center;
}
.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.final-price {
  border: 2px solid lightgrey;
  margin: 2rem;
  padding: 0 2rem;
}
.add-to-cart {
  display: flex;
  margin: 0 auto;
  margin-top: 3rem;
}
.title-orders {
  margin-top: 4rem;
}
.orders-container {
  border: 1px solid lightgrey;
  margin: 3rem;
}
.order-container {
  display: flex;
  justify-content: space-evenly;
}
.line-separation {
  border-bottom: 1px solid lightgrey;
  width: 40rem;
}
.footer-nav-text {
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid lightgrey;
  margin-top: 4rem;
}
.footer-social-media > ul {
  padding-inline-start: 0;
}
.email-copyr-container {
  display: flex;
  flex-direction: column;
  justify-content: inherit;
}
