:root 
    --main-color: #515adf
*
    box-sizing: border-box
    margin: 0
body
    font-family: "Calibri"
.container
    display: flex
    flex-flow: column
    min-height: 100vh
    
@import flex-center
@import login
@import register
@import menu
@import results
@import detail-item
@import error
@import footer

.main
    display: flex
    flex-direction: column
    flex-grow: 1
.hidden
    display: none
