.results
    display: grid
    grid-template-columns: repeat( auto-fit, minmax(135px, 1fr))
    grid-gap: .75rem
    list-style: none
    padding: 1rem
    .item
        @extend %flex-center
        flex-direction: column
        background-color: #FFDD5C
        padding: .75rem
        border-radius: 5px
        &__poster
            width: 100px
            border-radius: 5px
            box-shadow: 0px 0px 2px #000000
        &__title
            font-weight: bold
            text-align: center
        &__year
            text-align: center
            font-size: .75rem
        &:hover
            cursor: pointer
