input[type=text] {
  border: 3px solid white;
  border-radius: 4px;
  background-color: aquamarine;
  outline: none;
  text-align: center;
}

.timer {
  height: 80px;
  width: 100px;
  padding-top: 20px;
  box-shadow: 0 15px 15px black;
  background-color: #0077ff;
  color: whitesmoke;
  font-family: 'Londrina Outline';
  font-size: 48px;
  text-align: center;
  border-radius: 100%;
  border-color:  #ffffff;
  border-width: 2px;
  border-style: outset;
  cursor: pointer;
  margin: 10px auto auto auto;
}

.bote {
  position: absolute;
  top: 70px; right: 100px;
  height: 70px;
  width: 180px;
  box-shadow: 0 15px 15px black;
  padding-top: 10px;
  background-color: #e5ff00;
  color: #2e2e2e;
  text-align: center;
  border-radius: 5%;
  border-color:  #363636;
  border-width: 2px;
  border-style: outset;
  cursor: pointer;
  margin: auto;
}

.award {
  font-size: 30px;
}
.button, .button-current, .button-hit, .button-fail {
  color:whitesmoke;
  width: 40px;
  height: 35px;
  padding-top:5px;
  cursor: pointer;
  margin: auto;
  font-family: Tahoma;
  font-size: 24px;
  text-align: center;
  border-width: 2px;
  border-style: outset;
  border-color: white;
  border-radius: 50%;
}

.button {
  background: linear-gradient(to bottom left, #3366ff 45%, #000000 100%);
  box-shadow: 0 15px 15px black;
}

.button-current {
  background: linear-gradient(to bottom left, #3366ff 45%, #000000 100%);
  box-shadow: 0 15px 15px white;
}

.button-fail {
  background: linear-gradient(to bottom left, #ff1616 45%, #000000 100%);
  box-shadow: 0 15px 15px black;
}

.button-hit {
  background: linear-gradient(to bottom left, #1eff00 45%, #000000 100%);
  box-shadow: 0 15px 15px black;
}

.rosco {
  text-align: center;
  color: whitesmoke;
  max-height: 150px;
}

.title {
  height: 85px;
  font-family: Righteous;
  font-size: 58px;
  color: rgb(235, 235, 238);
  text-align: center;
  text-shadow: 3px 2px darkgrey;
  font-weight: bold;
  padding-top: 15px;
}

.pregunta {
  max-width: 300px;
  max-height: 450px;
  margin:auto;
  text-align: center;
  display:none;
}

.wellcome, .fin{
  max-width: 300px;
  max-height: 450px;
  margin:auto;
  font-family: Righteous;
  font-size: 34px;
  color: rgb(235, 235, 238);
  text-align: center;
  text-shadow: 3px 2px darkgrey;
}

.fin {
  display: none;
  padding-top: 75px;
}

.letra {
  font-size: 24px;
  color: rgb(235, 235, 238);
  text-align: center;
}

.def {
  font-size: 20px;
  color: rgb(235, 235, 238);
  text-align: center;
}

@keyframes ranking {
  from {width: 100px;}
  to {width: 320px;}
}

.ranking {
  opacity: .99;
  padding: 5px 10px 10px 20px;
  display: none;
  text-align: center;
  margin: 5px auto;
  border-width: 2px;
  border-style: outset;
  border-color: whitesmoke;
  border-radius: 2%;
  width: 320px;
  height: 150px;
  overflow-x: hidden;
  overflow-y: scroll;
  box-shadow: 0 5px 5px #ffffff; 
  background: linear-gradient(to bottom, #3366ff 45%, #838383 100%);
  animation-name: ranking;
  animation-duration: 15ms;
}


ol, li {
  text-align: left;
}

body {
  background: linear-gradient(to right,  #ff9100 0%, #ff0e9b 100%);
  font-family: Rajdhani;
  text-align: center;
  align-content: center;
}

