* {
    box-sizing: content-box;
}

body {
    width: 100%;
    height: 100%; 
    border: 1px solid black;

};

.container {
    background-color: rgb(204, 204, 233);
    width: 70%;
    height: 70%;
    border: 1px solid black;


};