.ducks-panel
    &__list
        display: flex
        flex-wrap: wrap
        justify-content: center
    &__list-item
        width: 100%

.duck
    background-color: #ccc
    border: 0.15em solid black
    padding: 1em
    margin: 1em
    border-radius: .5em
    text-align: center
    cursor: pointer

    &__title
        text-transform: uppercase
        font-size: 1.2em

    &__image
        width: 90%
        margin: 5% 5%