body {
    background-color: rgba(21, 133, 181, 0.66)
}

ul, aside {
    display: flex;
    justify-content: space-around;
}

.img {
    border: 4px solid black;
}

.who-block-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: 
    "texto-who image-who"
    "texto-who image-who";
    max-height: 400vh; 
    border: 1.5px solid white;
    padding: 15px;
}

.titulowho {
    grid-area: titulowho;
}

.textowho {
    grid-area: textowho;
}

.whoami {
    
    float: right; 
    grid-area: imagenwho;
}

.whereami {
    display: flex;
    border: 2px solid white;
    float: center; 

}

footer {
    font-size: 10px;
    color: rgb(12, 12, 157)
}

aside {
    justify-content: flex-end;
    display: flex;
    float: right;
    width: 40px;
}

.imagescountries {
    display: flex;
    border: 1px solid white;
    max-width: 400px;
    justify-content: space-between;
    flex-direction: row;
    align-self: stretch;
    
    
}