nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#products  {
    display: flex;
    flex-wrap: wrap;
}

.product {
    width: 40%;
}

#product-detail {
    display: flex;
}