* {
    border: 1px solid;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    /* height: 100vh; */
}

.grid {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr 1fr auto;
    grid-gap:10px;
    height: calc(100vh - 10px);
    background-color: yellow;
    grid-template-areas: 
    "nav"
    "header"
    "aside"
    "main"
    "footer";
    /* grid-template-rows: 10% 20% 20% 40% 10%;
    grid-template-columns: 1fr;  */
}

nav {
    grid-area: nav;  
    height: 10%;
    width: 100%;
  
    background-color: blue;
}
header {
    grid-area: header;
    width: 100%;
    
    background-color: grey;
}

aside {
    grid-area: aside;
    width: 25%;
  
}

main{
    grid-area: main;
    width: 70%;
    
}

.privacy {
    width: 100%;
    
}

footer {
    grid-area: footer;
    width: 100%;
  
} 

header figure img{
    width: 30%;
}